<mat-tab-group>
    <mat-tab *ngFor="let cat of catalogo" [label]="cat.nombre">
        <div class="row p-2">
            <div class="col-sm-12 col-md-4 p-4" *ngFor="let item of cat.equipos">
                <div class="card">
                    <img class="card-img-top" [src]="item.imagen" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{item.nombre}}</h5>
                        <p class="card-text">{{item.descripcion}}</p>
                        <p class="{{getStock(item) > 0 ? 'text-success' : 'text-danger'}}">Stock: {{getStock(item)}} unidades</p>
                        <div class="text-center">
                            <button mat-flat-button color="accent" [disabled]="isDisabledButton(item)" (click)="agregar(item)">
                                <!-- <mat-icon>add_shopping_cart</mat-icon> -->
                                {{ item.precio | currency: 'S/ ' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>


</mat-tab-group>