<app-navbar [itemsBlue]="true" [limitScroll]="80"></app-navbar>

<app-form-contact></app-form-contact>

<section class="section-contact-details">
    <div class="container py-5">
        <h2 class="my-5 text-center text-muted">Ubícanos</h2>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card border-0 my-2 my-md-0 bg-white shadow-sm rounded-0">
                    <div class="card-body">
                        <div class="text-center">
                            <i-feather name="map-pin" class="big my-3"></i-feather>
                            <h5 class="card-title">Oficina</h5>

                            <p class="card-text my-1">
                                Jr. Tácna 258 Of. 1B - Piura.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0 my-2 my-md-0 bg-white shadow-sm rounded-0">
                    <div class="card-body">
                        <div class="text-center">
                            <i-feather name="mail" class="big my-3"></i-feather>
                            <h5 class="card-title">Email</h5>

                            <p class="card-text my-1">
                                ventas@sistemausqay.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card border-0 my-2 my-md-0 bg-white shadow-sm rounded-0">
                    <div class="card-body">
                        <div class="text-center">
                            <i-feather name="phone" class="big my-3"></i-feather>
                            <h5 class="card-title">Teléfono</h5>

                            <p class="card-text my-1">
                                (01) 642 9247
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>