<nav class="center 	navbar navbar-expand-lg navbar-light fixed-top bg-transparent center" style="font-family: 'mont'">
<a class="navbar-brand center">
	<img src="assets/svg/logo.svg" alt="logo" height="50" class="ng-star-inserted">
</a>
</nav>
<div class="section-landing">
	<video #videoPlayer autoplay muted loop>
		<source
			src="https://res.cloudinary.com/restaurant-pe-v2/video/upload/v1607413343/restaurant_pe_video.fbc9f6ad_103803f205.webm">
	</video>
	<div class="container text-center">
		<h1 class="display-4 font-weight-bolder text-primary"> Gestiona y factura en <span class="text-secondary">tiempo
				récord</span> </h1>

	</div>
</div>

<div style="background-image: url('../../../assets/motivo.png');  color: white;">
	

<section class="container py-5 text-center">
	
	<article>
		<h4>¿Qué es Usqay restaurantes?</h4>
		<span>Es un software de uso online y online para la gestión de restaurantes, cafeterías,
			discotecas y negocios a fines. Con Usqay podrás controlar tus ventas, pedidos,
			caja, almacén, a través de una interaz simple e intuitiva</span>

		<h4>¿Qué beneficios tiene usar nuestro sistema?</h4>
		<span>Usqay te permite tener mayor control, mejor orden de insumos e inventario,
			acceso en tiempo real a tu negocio y sobre todo más tiempo para ti.</span>

	</article>
	<br>
	<img src="../../assets/paquetes.png" alt="Logo" width="1000" height="700">


</section>


<section class="section"  >
	<div class="container ">
		<div class="row" >
			<div class="col-12">
				<div class="card border-0 shadow-lg">
					<div class="card-body px-5">
						<h4 class="text-center card-title font-weight-bold" style="color: #ef6a00!important;">¿Deseas más información?</h4>
						<p class="text-center text-muted">Completa el formulario y nos estaremos comunicando contigo los
							más pronto como nos sea posible.</p>
						<div class="row py-3">

							<div class="col-12 col-md-12">

								<form class="ng-pristine ng-invalid ng-touched" method="POST">
									<div class="row">
										<div class="col-12 col-md-12 field">
											<input type="text"  required autocomplete="off" id="nombres">
											
											<label for="nombres" title="Ingrese aqui su nombre y apellido" data-title="Şifre"></label>
										</div>

										<div class="col-12 col-md-12 field">

											<input type="text" 	required autocomplete="off" id="negocio">
											<label for="negocio" title="Ingrese aqui el nombre de su negocio" data-title="Şifre"></label>
										</div>
										<div class="col-12 col-md-12 field">
											<input type="text" required autocomplete="off" id="ciudad">
											<label for="ciudad" title="Ejemplo: Piura, Chiclayo, Lima" data-title="Şifre"></label>
									</div>
										
										<div class="col-12 col-md-12 field">

											<input type="text" required autocomplete="off" id="email">
											<label for="email" title="ejemplo: minegocio@gmail.com" data-title="Şifre"></label>
									</div>
									<div class="col-12 col-md-12 field">

										<input type="text" required autocomplete="off" id="telefono">
										<label for="telefono" title="Su telefono ejemplo: 999-999-999" data-title="Şifre"></label>
									</div>
										

										<div class="col-12 text-center">
											<label>¿Qué plan te interesa?</label>
										</div>
										<div class="col-12 text-center">
											<button class="rounded-pill mat-button"
												style="background-color: #ef6a00; color: #fff;">
												Emprende
											</button>
											<button class="rounded-pill mat-button"
												style="background-color: #0f4b81; color: #fff;">
												Premiun

											</button>
										</div>

									</div>
								</form>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>
</div>
