<section class="bg-primary footer pt-5">
    <div class="container text-light">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
                <div class="h-100 d-flex w-100 align-items-center">
                    <img src="assets/svg/logo-negativo.svg" class="mb-5 mb-md-0" alt="Logo" height="50">
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-2">
                <p class="card-text font-weight-bold mb-4">Empresa</p>
                <ul class="nav flex-column">
                    <li class="nav-item">
                       <a class="nav-link pl-0 text-light">¿Quiénes somos?</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link pl-0 text-light">Misión</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link pl-0 text-light">Clientes</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link pl-0 text-light">Testimonios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 text-light" href="#">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 text-light" routerLink="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-md-2">
                <p class="card-text font-weight-bold mb-4">Productos</p>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link pl-0 text-light" routerLink="/product/restaurantes">Restaurantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 text-light" routerLink="/product/pos">Pos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 text-light" routerLink="">Facturación Electronica</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-md-2">
                <p class="card-text font-weight-bold mb-4">Blog</p>
                <ul class="nav flex-column">
                    
                    <li class="nav-item">
                        <a class="nav-link pl-0 text-light" routerLink="">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-md-2">
                <p class="card-text font-weight-bold mb-4">Soporte</p>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link pl-0 text-light" href="https://soporte.sistemausqay.com/" target="_blank">Soporte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 text-light" href="https://usqay.pse.pe/buscar">Comprobantes</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 text-center pt-5 pb-3">
                <a mat-icon-button class="m-2" href="https://www.facebook.com/UsqayPeru" target="_blank">
                    <p class="m-0 text-light">
                        <i-feather name="facebook"></i-feather>
                    </p>
                </a>
                <a mat-icon-button class="m-2" href="https://www.instagram.com/sistemausqay/" target="_blank">
                    <p class="m-0 text-light">
                        <i-feather name="instagram"></i-feather>
                    </p>
                </a>
                <button mat-icon-button class="m-2">
                    <p class="m-0 text-light">
                        <i-feather name="twitter"></i-feather>
                    </p>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="bg-light">
                <p class="text-center small text-light my-4">
                    &#169; Copyright {{year}}. Derechos reservados
                </p>
            </div>
        </div>
    </div>
</section>